
@{
}

<h1>Books</h1>

<div class="mt-4">
    <a class="btn-success btn" asp-controller="Book" asp-action="Create">Create</a>
</div>

<div class="mt-4">
    <a class="btn-primary btn" asp-controller="Book" asp-action="Edit">Edit</a>
</div>

<div class="mt-4">
    <a class="btn-info btn" asp-controller="Book" asp-action="Details">Details</a>
</div>

<div class="mt-4">
    <a class="btn-danger btn" asp-controller="Book" asp-action="Delete">Delete</a>
</div>

